<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    @*<script async src="https://www.googletagmanager.com/gtag/js?id=UA-34137924-3"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-34137924-3');
        </script>*@

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="@Url.Content("~/vendor/fontawesome-free/css/all.min.css")" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    @if (Session != null && Session["logado"] != null && Session["logado"].ToString().Equals("1"))
    {
        if (Session["cd_empresa"] != null && Session["cd_empresa"].ToString().Equals("1"))
        {
            <link href="@Url.Content("~/Content/sb-admin-carbona.min.css")" rel="stylesheet" type="text/css">
        }
        else
        {
            <link href="@Url.Content("~/Content/sb-admin-2.min.css")" rel="stylesheet" type="text/css">
        }
    }
    else
    {
        <link href="@Url.Content("~/Content/sb-admin-2.min.css")" rel="stylesheet" type="text/css">
    }
    <link href="@Url.Content("~/Content/modal-loading.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/modal-loading-animate.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/vendor/jquery/jquery.min.js")"></script>

    <script type="text/javascript">
        //
        function loadjs(file) {
            var script = document.createElement("script");
            script.type = "text/javascript";
            script.src = file;
            script.onload = function () {
                //
                if ($) {
                    console.log('true');
                }
                else {
                    console.log('false');
                }
            };
            document.body.appendChild(script);
        }
    </script>
</head>
<body id="page-top">

    @if (Session != null && Session["logado"] != null && Session["logado"].ToString().Equals("1"))
    {
        <div id="wrapper">
        <!-- Menu lateral -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" style="z-index: 1;" id="accordionSidebar">
            @if (Session["cd_empresa"].ToString().Equals("10"))
            {
                @Html.Partial("../Menulateral/Gramadosummit")
            }
            else if (Session["cd_empresa"].ToString().Equals("18"))
            {
                @Html.Partial("../Menulateral/Tecnohard")
            }
            else if (Session["cd_empresa"].ToString().Equals("5"))
            {
                @Html.Partial("../Menulateral/Inequil")
            }
            else
            {
                @Html.Partial("../Menulateral/Demo")
            }
        </ul>

        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->

            <div id="content">
                <!-- Topo -->
                @if (Session["cd_empresa"].ToString().Equals("10"))
                {
                    @Html.Partial("../Topo/Gramadosummit")
                }
                else if (Session["cd_empresa"].ToString().Equals("18"))
                {
                    @Html.Partial("../Topo/Tecnohard")
                }
                else if (Session["cd_empresa"].ToString().Equals("17"))
                {
                    @Html.Partial("../Topo/Inequil")
                }
                else
                {
                    @Html.Partial("../Topo/Demo")
                }
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                @RenderBody()
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Connector &copy; @DateTime.Now.Year</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
        </div>
    </div>
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="modalSairSistemaLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="modalSairSistemaLabel">Sair do Sistema</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label>Você deseja sair do sistema?</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-cancelar btn-default" data-dismiss="modal">Não</button>
                        <button type="button" onclick="m.sessao.logout();" class="btn btn-danger">Sim</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    }
    else
    {
        <div class="container body-content">
            <br /><br /><br /><br />
            <hr />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            @RenderBody()
            <script>

            </script>
            <br />
            <hr />
        </div>
    }

    <script src="@Url.Content("~/vendor/bootstrap/js/bootstrap.bundle.min.js")"></script>
    <script src="@Url.Content("~/vendor/jquery-easing/jquery.easing.min.js")"></script>
    @if (Session != null && Session["logado"] != null && Session["logado"].ToString().Equals("1"))
    {
        <script src="@Url.Content("~/vendor/sbadmin/sb-admin-2.min.js")"></script>
        <script src="@Url.Content("~/vendor/connector/connector.js")"></script>
    }

    <script src="@Url.Content("~/vendor/modal/modal-loading.js")"></script>
    <script src="@Url.Content("~/vendor/bootbox/bootbox.all.min.js")"></script>

    @if (Session != null && Session["logado"] != null && Session["logado"].ToString().Equals("1"))
    {
        <script>
            m.sessao.cd_empresa_logado = '@(Session["cd_empresa"])';
            m.sessao.tipo_empresa_logado = '@(Session["tipo_empresa"])';
            m.sessao.nome_empresa = '@(Session["nome_empresa"])';
            m.sessao.cd_usuario = '@(Session["cd_usuario"])';
            m.sessao.nome_usuario = '@(Session["nome_usuario"])';
            m.sessao.emial_usuario = '@(Session["email"])';
        </script>
    }
</body>
</html>