
@{
    ViewBag.Title = "Receita Passos";
}

<link href="@Url.Content("~/vendor/datatables/js/dataTables.bootstrap4.min.css")" rel="stylesheet" type="text/css">

@if (Session != null && Session["logado"] != null && Session["logado"].ToString().Equals("1"))
{
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Passos</h1>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <button class="btn btn-primary" onclick="m.receita_passo.set_receita_passo_inclui()">
                    Incluir
                </button>
                <button class="btn btn-primary" onclick="m.receita_passo.edit_receita_passo()">
                    Editar
                </button>
                <button class="btn btn-primary" onclick="m.receita_passo.exclui()">
                    Excluir
                </button>
                <button class="btn btn-primary">
                    Copiar
                </button>
            </div>

            <div class="form-group" style="padding-top: 0px !important; padding-left: 22px !important; width: 25%;">
                <table>
                    <tr>
                        <td>
                            <label>Receitas:</label>
                            <select class="form-control" id="slopcaoesreceitas" style="width: 230px !important;">
                                @if (ViewBag.ListaReceitas != null)
                                {
                                    foreach (var item in ViewBag.ListaReceitas)
                                    {
                                        if (item != null)
                                        {
                                            <option id="@item.Id">@item.Descricao</option>
                                        }
                                    }
                                }
                            </select>
                        </td>
                        <td>
                            <div class="form-group" style="padding-top: 45px !important; margin-left: 20px;">
                                <button class="btn btn-primary" onclick="m.receita_passo.busca_receita_passo()">
                                    Buscar
                                </button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="card-body">
                <!-- Modal Novo/Edita Coletor -->
                <div class="modal fade" id="idreceitappassomodal" tabindex="-1" role="dialog" aria-labelledby="modalReceitaLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                        <div class="modal-content-insert-alerta">
                            <div class="modal-header">
                                <h4 class="modal-title" id="modalReceitaPassoLabel"></h4>
                            </div>
                            <div class="container">
                                <div class="row">
                                    <div class="col form-group-insert-alerta" id="divSelect">
                                        <label>Modo de Trabalho:</label>
                                        @*<select class="form-control" id="sltipolavagem" onchange="m.receita_passo.change_tipo_passo(this)">
                                            <option id="1">Lavagem</option>
                                            <option id="2">Centrifugação</option>
                                        </select>*@
                                        <select class="form-control" id="sltipolavagem" onchange="m.receita_passo.change_tipo_passo(this)">
                                            <option id="1">Desabilitado</option>
                                            <option id="2">Lavagem</option>
                                            <option id="3">Centrifugação</option>
                                            <option id="4">Umectação</option>
                                            <option id="5">Pré-Lavagem</option>
                                            <option id="6">Alvejamento</option>
                                            <option id="7">Enxague</option>
                                            <option id="8">Neutralização</option>
                                            <option id="9">Amaciante</option>
                                            <option id="10">Molho</option>
                                        </select>
                                    </div>
                                    <div class="col form-group-insert-alerta">
                                        <label>Descrição do Passo</label>
                                        <input id="txtpassodesc" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="container" id="divlavagem" style="display: inline;">
                                <div class="row">
                                    <div class="col form-group-insert-alerta">
                                        @*<input type="checkbox" checked="checked" id="chkrpm" onclick="m.g.check_item('txtrpm')" />*@
                                        <label>RPM</label>
                                        <input id="txtrpm" class="form-control">
                                    </div>
                                    <div class="col form-group-insert-alerta">
                                        @*<input type="checkbox" checked="checked" id="chktemporeversao" onclick="m.g.check_item('txttemporeversao')" />*@
                                        <label>Tempo Reversão</label>
                                        <input id="txttemporeversao" class="form-control">
                                    </div>
                                    <div class="col form-group-insert-alerta">
                                        @*<input type="checkbox" checked="checked" id="chktempooperacao" onclick="m.g.check_item('txttempooperacao')" />*@
                                        <label>Tempo Operação</label>
                                        <input id="txttempooperacao" class="form-control">
                                    </div>
                                    <div class="col form-group-insert-alerta">
                                        <label>Temperatura</label>
                                        <input id="txttemperatura" class="form-control">
                                    </div>

                                    <div class="w-100"></div>
                                    <div class="col form-group-insert-alerta">
                                        <label>Entrada</label>
                                        <select class="form-control" id="slentrada">
                                            <option id="1">Entrada A</option>
                                            <option id="2">Entrada B</option>
                                            <option id="3">Entrada A e B</option>
                                        </select>
                                    </div>
                                    <div class="col form-group-insert-alerta">
                                        <label>Saída</label>
                                        <select class="form-control" id="slsaida">
                                            <option id="1">Saída A</option>
                                            <option id="2">Saída B</option>
                                            <option id="3">Saída A e B</option>
                                        </select>
                                    </div>
                                    <div class="col form-group-insert-alerta">
                                        <label>Nível</label>
                                        <select class="form-control" id="slnivel">
                                            <option id="1">Alto</option>
                                            <option id="2">Baixo</option>
                                        </select>
                                    </div>
                                    <div class="col form-group-insert-alerta">
                                        <label>Sem Vapor</label>
                                        <select class="form-control" id="slvapor">
                                            <option id="1">Sem Vapor</option>
                                            <option id="2">Com Vapor</option>
                                        </select>
                                    </div>
                                    <div class="w-100"></div>
                                    <div class="col form-group-insert-alerta">
                                        <input type="checkbox" checked="checked" id="chkproda" onclick="m.g.check_item('txtprodutoa')" />
                                        <label>Produto A</label>
                                        <input id="txtprodutoa" class="form-control">
                                    </div>
                                    <div class="col form-group-insert-alerta">
                                        <input type="checkbox" checked="checked" id="chkprodb" onclick="m.g.check_item('txtprodutob')" />
                                        <label>Produto B</label>
                                        <input id="txtprodutob" class="form-control">
                                    </div>
                                    <div class="col form-group-insert-alerta">
                                        <input type="checkbox" checked="checked" id="chkprodc" onclick="m.g.check_item('txtprodutoc')" />
                                        <label>Produto C</label>
                                        <input id="txtprodutoc" class="form-control">
                                    </div>
                                    <div class="col form-group-insert-alerta">
                                        <input type="checkbox" checked="checked" id="chkprodd" onclick="m.g.check_item('txtprodutod')" />
                                        <label>Produto D</label>
                                        <input id="txtprodutod" class="form-control">
                                    </div>
                                    <div class="w-100"></div>
                                    <div class="col form-group-insert-alerta">
                                        <input type="checkbox" checked="checked" id="chkprode" onclick="m.g.check_item('txtprodutoe')" />
                                        <label>Produto E</label>
                                        <input id="txtprodutoe" class="form-control">
                                    </div>
                                    <div class="col form-group-insert-alerta">
                                        <input type="checkbox" checked="checked" id="chkprodf" onclick="m.g.check_item('txtprodutof')" />
                                        <label>Produto F</label>
                                        <input id="txtprodutof" class="form-control">
                                    </div>
                                    <div class="col form-group-insert-alerta">
                                        <input type="checkbox" checked="checked" id="chkprodg" onclick="m.g.check_item('txtprodutog')" />
                                        <label>Produto G</label>
                                        <input id="txtprodutog" class="form-control">
                                    </div>
                                    <div class="col form-group-insert-alerta">
                                    </div>
                                </div>
                            </div>

                            <div class="container" id="divcentrifugacao" style="display: none;">
                                <div class="row">
                                    <div class="w-100"></div>
                                    <div class="col form-group-insert-alerta">
                                        <input type="checkbox" onclick="m.g.check_item('txtmododetrabalhocentrifuga')" />
                                        <label>ModoTrabalho</label>
                                        <input id="txtmododetrabalhocentrifuga" class="form-control">
                                    </div>
                                    <div class="col form-group-insert-alerta">
                                        <input type="checkbox" onclick="m.g.check_item('txtsaidacentrifuga')" />
                                        <label>Saída</label>
                                        <input id="txtsaidacentrifuga" class="form-control">
                                    </div>
                                    <div class="w-100"></div>
                                    <div class="col form-group-insert-alerta">
                                        <input type="checkbox" onclick="m.g.check_item('txtvelocidade1', 'txttempo1')" />
                                        <label>Velocidade 1</label>
                                        <input id="txtvelocidade1" class="form-control">
                                    </div>
                                    <div class="col form-group-insert-alerta">
                                        <label>Tempo 1</label>
                                        <input id="txttempo1" class="form-control">
                                    </div>
                                    <div class="col form-group-insert-alerta">
                                        <input type="checkbox" onclick="m.g.check_item('txtvelocidade2', 'txttempo2')" />
                                        <label>Velocidade 2</label>
                                        <input id="txtvelocidade2" class="form-control">
                                    </div>
                                    <div class="col form-group-insert-alerta">
                                        <label>Tempo 2</label>
                                        <input id="txttempo2" class="form-control">
                                    </div>

                                    <div class="w-100"></div>
                                    <div class="col form-group-insert-alerta">
                                        <input type="checkbox" onclick="m.g.check_item('txtvelocidade3', 'txttempo3')" />
                                        <label>Velocidade 3</label>
                                        <input id="txtvelocidade3" class="form-control">
                                    </div>
                                    <div class="col form-group-insert-alerta">
                                        <label>Tempo 3</label>
                                        <input id="txttempo3" class="form-control">
                                    </div>
                                    <div class="col form-group-insert-alerta">
                                        <input type="checkbox" onclick="m.g.check_item('txtvelocidade4', 'txttempo4')" />
                                        <label>Velocidade 4</label>
                                        <input id="txtvelocidade4" class="form-control">
                                    </div>
                                    <div class="col form-group-insert-alerta">
                                        <label>Tempo 4</label>
                                        <input id="txttempo4" class="form-control">
                                    </div>

                                    <div class="w-100"></div>
                                    <div class="col form-group-insert-alerta">
                                        <input type="checkbox" onclick="m.g.check_item('txtvelocidade5', 'txttempo5')" />
                                        <label>Velocidade 5</label>
                                        <input id="txtvelocidade5" class="form-control">
                                    </div>
                                    <div class="col form-group-insert-alerta">
                                        <label>Tempo 5</label>
                                        <input id="txttempo5" class="form-control">
                                    </div>
                                    <div class="col form-group-insert-alerta">
                                    </div>
                                    <div class="col form-group-insert-alerta">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group-insert-alerta">
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-cancelar btn-default" data-dismiss="modal">Cancelar</button>
                                <button type="button" onclick="m.receita_passo.salva();" class="btn btn-primary">Salvar</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered"
                           id="dtreceitapassos"
                           data-pagination="true"
                           data-search="true"
                           data-click-to-select="true"
                           data-pagination-h-align="left"
                           data-pagination-detail-h-align="right"
                           cellspacing="0">
                        <thead>
                            <tr>
                                <th data-field="state" data-checkbox="true"></th>
                                <th data-field="IdReceitaPasso">Id Receita Passo</th>
                                <th data-field="Id">Id Passo</th>
                                <th data-field="Descricao">Passo</th>
                                <th data-field="Tipo">Tipo</th>
                                <th data-field="Variavel">Variável</th>
                                <th data-field="Valor">Valor</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="excluiPassoReceitaModal" tabindex="-1" role="dialog" aria-labelledby="modalReceitaPassoExcluiLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modalColetorExcluiLabel"></h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label>Você deseja excluir o Passo da Receita?</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-cancelar btn-default" data-dismiss="modal">Não</button>
                    <button type="button" onclick="m.coletor.excluipost();" class="btn btn-danger">Sim</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <link href="@Url.Content("~/vendor/datatables/bootstrap-table.min.css")" rel="stylesheet" />
    <script src="@Url.Content("~/vendor/datatables/bootstrap-table.min.js")"></script>

    <script>
    $(document).ready(function () {
        m.receita_passo.init(@Html.Raw(Json.Encode(ViewBag.ListaReceitaPasso)));
    })
    </script>
}
else
{

}
