
@{
    ViewBag.Title = "Relatórios";
}

<style>
    .select2-results__option .wrap:before {
        font-family: fontAwesome;
        color: #999;
        content: "\f096";
        width: 25px;
        height: 25px;
        padding-right: 10px;
    }

    .select2-results__option[aria-selected=true] .wrap:before {
        content: "\f14a";
    }

    .row {
        padding: 10px;
    }

    .select2-multiple, .select2-multiple2 {
        width: 50%
    }

    .select2-container {
        min-width: 305px;
    }
</style>

<link href="@Url.Content("~/vendor/multiselect/select2.min.css")" rel="stylesheet" />


<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Relatórios por máquina</h1>

    <div class="row">


        <div style="padding-left: 15px !important;">
            <label style="color:#337abd; font-weight:1;">Informe a máquina:</label>
            <select class="form-control" style="width: 300px!important;" id="slmaquinasrelatorio" multiple="multiple">
                @if (ViewBag.ListaMaquinas != null)
                {
                    foreach (var item in ViewBag.ListaMaquinas)
                    {
                        if (item != null)
                        {
                            <option id="@item.ID">@item.ID  @item.Descricao</option>
                        }
                    }
                }
            </select>
        </div>

        <div style="padding-left: 15px !important; padding-bottom: 10px !important;">
            <label style="color:#337abd; font-weight:1;">Informe o período:</label>
            <select class="form-control" style="width: 450px!important;" id="slperiodo">
                <option id="0">Diário</option>
                <option id="1">Semanal</option>
                <option id="2">Mensal</option>
                <option id="3">Trimestral</option>
                <option id="4">Semestral</option>
                <option id="5">Anual</option>
            </select>
        </div>

        <div class="d-inline-block" style="padding-left: 15px !important; padding-top: 33px !important;">
            <div>
                <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" onclick="m.relatorio.carrega_maquina()">Gerar Relatório</a>
            </div>
        </div>
    </div>

    <div class="row" style="height: 750px;  position: relative; left: -24px; width: 1730px;">
        <iframe id="idframerelmaquina" src="" width="100%" height="100%"></iframe>
    </div>
</div>

<script src="@Url.Content("~/vendor/multiselect/select2.min.js")"></script>
<script src="@Url.Content("~/vendor/multiselect/select2.multi-checkboxes.js")"></script>

<script>
    $(function () {
        $('#slmaquinasrelatorio').select2({
            placeholder: "Selecione a(s) máquina(s)",
            width: "100%"
        })
    })
</script>